.startBox {
  width: 100%;
  display: flex;
  cursor: default;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
}

.startCard {
  width: 79%;
  display: flex;
  margin: 5% 0px;
  padding: 2% 0px;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #4141418f;
  border-right: none;
  border-bottom: none;
  /* background-color: yellow; */
  justify-content: space-between;
}

.startLHS {
  width: 45%;
  display: flex;
  gap: 15px;
  padding: 0px 5%;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.startCardName {
  color: white;
  font-size: 2.6em;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-transform: capitalize;
  /* background-color: turquoise; */
}

.startCardPara {
  color: #7a7b91;
  font-weight: 500;
  font-size: 1.1em;
  /* background-color: tomato; */
}

.startCardBtn {
  /* font-size: 0.9em; */
  width: max-content;
  /* padding: 12px 20px; */
  background: var(--text-default);
}

.startRHS {
  width: 37%;
  z-index: 101;
  margin-right: 1%;
  position: relative;
  /* background-color: rgb(132, 6, 6); */
}

.startRHS > img {
  width: 80%;
  z-index: inherit;
  position: inherit;
  object-fit: cover;
}

.startColorLight1 {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 260px;
  opacity: 0.8;
  z-index: 100;
  height: 220px;
  filter: blur(35px);
  border-radius: 50%;
  background: #664088;
}

.startColorLight2 {
  position: absolute;
  width: 280px;
  top: 40px;
  right: 190px;
  z-index: 100;
  opacity: 0.35;
  height: 220px;
  filter: blur(35px);
  border-radius: 50%;
  background: #00c3ff;
}

/* mobile start */
@media (max-width: 1023px) {
  .startBox {
    padding: 10% 0%;
    /*  */
    /* background-color: blue; */
  }

  .startCard {
    width: 80%;
    justify-content: center;
    /* background-color: red; */
    flex-direction: column-reverse;
    /*  */
  }

  .startLHS {
    gap: 15px;
    width: 90%;
    padding: 2% 5%;

    /*  */
  }

  .startCardName {
    font-size: 1.5em;
    letter-spacing: -0.4px;
    /*  */
  }

  .startCardPara {
    font-size: 0.9em;
    margin-bottom: 2%;
    /*  */
  }

  .startRHS {
    width: 80%;
    margin: 5% 0%;
    /*  */
  }

  .startRHS > img {
    width: 100%;
    /*  */
  }

  .startCardBtn {
    margin: auto;
    width: 100%;
    margin-bottom: 5%;
    /*  */
  }

  .startColorLight1 {
    top: 30px;
    right: -10%;
    width: 170px;
    height: 130px;
    filter: blur(40px);
    /*  */
  }

  .startColorLight2 {
    top: 30px;
    left: -7%;
    width: 150px;
    height: 130px;
    filter: blur(45px);
    /*  */
  }
}
/* mobile end */

/* tablet start */
@media (min-width: 641px) and (max-width: 1023px) {
  .startCardName {
    font-size: 2.1em;
    letter-spacing: -0.2px;
    /*  */
  }

  .startCardPara {
    font-size: 1.4em;
    /*  */
  }

  .startRHS {
    width: 60%;
    /*  */
  }

  .startCardBtn {
    margin: auto;
    display: flex;
    font-size: larger;
    margin-bottom: 0%;
    width: max-content;
    align-items: center;
    /*  */
  }

  .startColorLight1 {
    top: 60px;
    right: -10%;
    width: 200px;
    height: 180px;
    filter: blur(45px);
    /*  */
  }

  .startColorLight2 {
    top: 60px;
    left: -4%;
    width: 180px;
    height: 160px;
    /*  */
  }
}
/* tablet end */

@media (min-width: 1024px) and (max-width: 1280px) {
  /* smaller laptop start  */
  /* .startBox {
  width: 100%;
  display: flex;
  cursor: default;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
} */

  .startCard {
    width: 80%;
    /*  */
  }

  .startLHS {
    width: 50%;
    gap: 8px;
    /*  */
  }

  .startCardName {
    font-size: 2.4em;
    line-height: 1;
    /*  */
  }

  .startCardPara {
    font-size: 1.1em;
    margin-bottom: 10px;
    /*  */
  }

  .startRHS {
    width: 45%;
    display: flex;
    margin-right: 0%;
    align-items: center;
    justify-content: center;
    /*  */
  }

  .startColorLight1 {
    top: 10px;
    right: -40px;
    width: 260px;
    height: 200px;
    filter: blur(50px);
    /*  */
  }

  .startColorLight2 {
    top: 20px;
    right: 130px;
    width: 220px;
    height: 180px;
    filter: blur(50px);
    /*  */
  }
}
/* smaller laptop end  */
