.headerRefer {
  height: 50px;
  z-index: 110;
  display: flex;
  color: #ff591c;
  font-weight: 600;
  font-size: 0.8em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
}

.headerRefer a {
  text-decoration: underline transparent;
  transition: all 0.2s ease-in-out;
}

.headerRefer a:hover {
  text-decoration: underline;
}

/*  */
/* Modal Styles */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  /* Initially hidden */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out;
}

/* Apply the fade-in effect when the modal is opened */
.modalBackdrop.show {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  background-color: var(--text-default);
  padding: 40px;
  border-radius: 12px;
  position: relative;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 15px;
  color: red;
  font-size: 2em; /* Larger close button */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.closeButton:hover {
  scale: 1.1;
  color: white;
}

.openModalLink {
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.openModalLink:hover {
  text-decoration: underline;
}

/*  */

.no-scroll {
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8989;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: red; */
}

.headerBox {
  width: 79%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* transition: all 0.3s ease; */
  animation: headerfadeDown 0.7s ease;
  /* background-color: red; */
}

/* .headerBox img {
  filter: grayscale(100%);
} */

/* .headerBox img:hover {
  scale: 1.05;
} */

@keyframes headerfadeDown {
  from {
    opacity: 0;
    transform: translateY(-90%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.headerImg {
  /* flex: 4.35; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* background-color: black; */
  /* background-color: red; */
}

.headerImg > img {
  /* width: 151px; */
  width: 110px;
  /* margin-top: 30px; */
  z-index: 1;
  /* aspect-ratio: 16/9; */
  /* background-color: red; */
  cursor: pointer;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  /* padding: 2px 10px; */
  /* padding-top: 5px; */
  /* padding-bottom: 10px; */
  /* border-radius: 0px 0px 5px 5px; */
  border-bottom: 1px solid transparent;
  /* background-color: aqua; */
}

.headerImg > img:hover {
  /* scale: 1.01; */
  /* border-bottom: 1px solid var(--text-default);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px,
    rgba(255, 255, 255, 0.04) 0px 10px 10px -5px; */
  /* border-bottom: 1px solid transparent; */
  box-shadow: rgba(255, 255, 255, 0) 0px 20px 25px -5px,
    rgba(255, 255, 255, 0) 0px 10px 10px -5px;
}

.headerItem {
  flex: 4;
  display: flex;
  font-size: 1.1em;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  /* background-color: green; */
  transition: all 0.5s ease;
  /* transition: transform 0.5s ease, opacity 0.5s ease; */
}

.largerHeaderImg {
  width: 2.5rem;
  cursor: pointer;
  object-fit: cover;
  margin-left: 40px;
  /* background-color: red; */
}

.largerHeaderImg:hover {
  scale: 1.1;
}

.headerItem.openLarger {
  opacity: 0;
  pointer-events: none;
  /* transform: translateX(110%); */
}

.headerItem > nav {
  width: 100%;
  display: flex;
  /* margin-left: -15px; */
  align-items: center;
  /* background-color: purple; */
  justify-content: space-between;
}

.headerItem > nav > a {
  color: white;
  outline: none;
  color: inherit;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.15px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.headerItem > nav > a:hover {
  color: var(--text-default);
  color: black;
  border-bottom: 1px solid var(--text-default);
  border-bottom: 1px solid black;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px,
    rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
  background-color: var(--bg-default);
  background-color: white;
}

.activationer {
  color: var(--text-default);
  border-bottom: 1px solid var(--text-default);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px,
    rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

.headerProfileBtn {
  display: flex;
  gap: 7px;
  padding: 6px 7px;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid white;
  justify-content: space-between;
  background: var(--bg-placehover);
}

.headerProfileBtn > img {
  height: 25px;
  border-radius: 50%;
}

.headerHam {
  width: 12px;
  height: 8px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerHam > span {
  width: 100%;
  height: 1.5px;
  display: block;
  border-radius: 1px;
  transition: all 0.3s ease;
  background-color: #dddddd;
}

.mobileNavHam,
.mobileNavDot {
  display: none;
}

.headerRatata {
  transform: scale(1.2);
  /* background-color: green; */
  transition: all 0.2s ease-in-out;
}

.headerRatata.headerRatataataa {
  object-fit: contain;
  transform: scale(1);
  /* background-color: red; */
}

/* mobile start */
@media (max-width: 1023px) {
  .largerHeaderImg {
    display: none;
  }

  .headerRefer {
    height: 30px;
    z-index: 210;
    font-size: 0.7em;
    /*  */
  }

  .headerBox {
    width: 100%;
    z-index: 200;
    height: 70px;
    /* margin: 0px 6px; */
    /* padding-top: 3%; */
    /* margin-top: -1%; */
    position: relative;
    /* justify-content: center; */
    flex-direction: column;
    /* background-color: red; */
    transition: all 0.3s ease;
    /*  */
  }

  .headerImg {
    width: 100%;
    margin: auto;
    padding: 10px 15px;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    /* margin-right: auto; */
    z-index: 210;
    /*  */
  }

  .headerBox.open {
    /* background-color: var(--bg-light); */
    background-color: var(--bg-default);
  }

  .headerImg > img {
    /* margin-top: 5px; */
    /* background-color: red; */
    /*  */
    position: relative;
    /* top: 15px; */
    /* margin-top: -42px; */
    width: 55px;
    /* margin-left: 10px; */
    /* padding-bottom: 10px; */
    align-items: start;
    /*  */
  }

  .mobileNavDot {
    /* position: absolute; */
    /* right: 2%; */
    /* margin-top: -10px; */
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    cursor: pointer;
  }

  .headerItem {
    width: 100%;
    opacity: 1;
    font-size: 1em;
    position: relative;
    transform: translateY(-110%);
    transition: all 0.3s ease;
    padding-top: 5%;
    padding-bottom: 10%;
    border-top: 1px solid var(--text-default);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    /* border-bottom-left-radius: 30px; */
    /* border-bottom-right-radius: 200px; */
    background-color: var(--bg-default);
    /* background-color: var(--bg-light); */
    /* box-shadow: #52a5e43b 0px 5px 25px 1px; */
    /*  */
  }

  .headerItem.open {
    opacity: 0.5;
    transform: translateY(20%);
    /* box-shadow: rgba(255, 255, 255, 0) 0px 30px 20px 1px,
      rgba(255, 255, 255, 0) 0px 10px 5px 1px; */
    transition: all 0.4s ease;
  }

  .headerItem > nav > a {
    opacity: 1;
    font-weight: 500;
    min-width: 90px;
    text-align: center;
    /* padding: 6px 20px 6px 20px; */
    border-bottom: 0.5px solid var(--text-default);
    border-top: 0.5px solid var(--text-default);
    border-radius: 3px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.2s ease-in;
    /*  */
    /* background-color: blue; */
  }

  .headerItem.open > nav > a {
    opacity: 0;
  }

  .headerItem > nav {
    height: auto;
    gap: 18px;
    padding: 3% 0;
    flex-direction: column;
    /*  */
  }

  .headerItem > nav > .headerProfileBtn {
    opacity: 1;
    /* margin-bottom: 2%; */
    transition: all 0.2s ease-in;
  }

  .headerItem.open > nav > .headerProfileBtn {
    opacity: 0;
  }
}
/* mobile end */

/* Tablet start */
@media (min-width: 641px) and (max-width: 1023px) {
  /* .headerBox {
    padding-top: 1%;
  } */

  .headerBox {
    height: 80px;
  }

  .headerImg {
    padding: 10px 20px;
  }

  .headerImg > img {
    /*  */
    /* margin-top: -72px; */
    position: relative;
    /* top: 25px; */
    /* padding-top: 7px; */
    width: 70px;
  }

  .mobileNavDot {
    height: 60px;
    width: 60px;
  }
}
/* Tablet end */

/* smaller laptop start */
@media (min-width: 1024px) and (max-width: 1280px) {
  .headerBox {
    width: 95%;
    /*  */
    /* background-color: red; */
  }
  .headerImg > img {
    aspect-ratio: 16/9;
    width: 90px;
  }
  /* .headerImg { */
  /* flex: 1; */
  /*  */
  /* background-color: black; */
  /* } */

  .headerItem > nav {
    margin-left: 15px;
    /* background-color: orange; */
    /*  */
  }

  .headerItem > nav > a {
    padding: 8px 15px;
    font-size: 15px;
    /* background-color: red; */
    /*  */
  }

  .largerHeaderImg {
    margin-left: 5px;
    /* background-color: red; */
  }
}
/* smaller laptop end */

@media (min-width: 1280px) {
  .headerBox {
    width: 95%;
    /*  */
    /* background-color: red; */
  }

  .headerImg {
    flex: 1;
    /* background-color: black; */
  }
}
